.bund{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    margin-left: 18%;
    width: 60%;
  }
  
  .bund a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }