:root {
	--dystopian-earth-black: #010208;
	--dystopian-earth-dark-blue: #1b0e39;
	--dystopian-earth-blue: #5b5aa6;
	--dystopian-earth-purple: #9e1df1;
	--dystopian-earth-pink: #f169e1;
	--dystopian-font: 'Roboto';

	--utopian-earth-base: #c3c37b;
	--utopian-earth-blue: #3491c8;
	--utopian-earth-green: #599031;
	--utopian-earth-light-green: #60b922;
	--utopian-earth-dark-green: #012d0a;
	--utopian-font: 'adobe-handwriting-ernie', sans-serif;
}

.dystopian-font {
	font-family: var(--dystopian-font);
}

.utopian-font {
	font-family: var(--utopian-font);
}

* {
	display: block;
	font-family: 'Open Sans', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

title {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

a {
	text-decoration: none;
	color: black;
}

.root {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.navbar {
	width: 100%;
	display: flex;
	border-bottom: 1px solid var(--dystopian-earth-blue);
}

.navbar a,
.navbar a:after {
  color: #fff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  position: relative;
  touch-action: manipulation;
}

.navbar a:after {
	--glitch-slice-0: inset(50% 50% 50% 50%);
	--glitch-slice-1: inset(80% -6px 0 0);
	--glitch-slice-2: inset(50% -6px 30% 0);
	--glitch-slice-3: inset(10% -6px 85% 0);
	--glitch-slice-4: inset(40% -6px 43% 0);
	--glitch-slice-5: inset(80% -6px 5% 0);

	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--dystopian-earth-blue);
	clip-path: var(--glitch-slice-0);
}

.navbar a:hover:not(.active):after {
	animation: 1s glitch;
  	animation-timing-function: steps(2, end);
}

.active {
	background-color: var(--dystopian-earth-blue);
}

@keyframes glitch {
	0% {
		clip-path: var(--glitch-slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--glitch-slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--glitch-slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--glitch-slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--glitch-slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--glitch-slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--glitch-slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--glitch-slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--glitch-slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--glitch-slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--glitch-slice-1);
		transform: translate(0);
	}
}